.navbar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.content-left img{
  width: 40px;
  height: 40px;
}

.content-left {
  padding: auto;
  display: flex;
  margin:10px
}
.content-left p{
  margin:10px;
  font-size: 22px;
}

.nav-menu{
  display: flex;
  list-style: none;
  margin: 10px;
  align-items: center;
  gap:20px;
  font-size: 18px;
}

.nav-menu :hover{
  border:2px solid #2ca8fa;
  border-radius: 50px;
  cursor: pointer;
}

.hero{
  display: flex;
  padding-top: 150px;
  gap:35px;
}

.hero img{
  width: 50%;
  height: 50%;
}
.hero-left h1{
  font-size: 65px;
  font-style: bold;
  font-weight: 600;
}
.hero-left p {
  width:70%;
  text-align: center;
  padding-left: 40px;
}

.hero-order{
  text-align: center;
  gap: 25px;
  color: white;
  font-size: 22px;
  padding: 25px 45px;
  background: #2ca8fa;
  border-radius: 50px;
  border-color: #2ca8fa;
  cursor: pointer;

}